body {
    background-image: url(images/table.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(29, 24, 2);
    background-attachment: fixed;
    margin: 0;
}

main {
    min-width: 100%;
}

a {
    text-decoration: none; 
}

.book {
    height: 700px;
    min-width: 200px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
}

.bookshelf {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: max-content;
}

.book:hover {
    transform: scale(1.1);
}

h1 {
    margin: 0px;
    white-space: nowrap;
}

#Romance {
    color: #e1c05b;
}

#book-1 > .spine{
    background: rgb(91,53,13);
    background: linear-gradient(360deg, rgba(91,53,13,1) 35%, rgba(166,124,55,1) 100%);
    transform: rotate(90deg);
    height: 100px;
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Science-Fiction {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Fantasy {
    transform: rotate(90deg);
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Horror {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 180px;
}

#Mystery {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-align: center;
}

#book-5 > .spine{
    background: rgb(38,49,9);
    background: linear-gradient(180deg, rgba(38,49,9,1) 35%, rgba(30,42,6,1) 100%);
    transform: rotate(90deg);
    height: 82px;
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Humor {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-align: center;
}

#book-6 > .spine{
    background: rgb(50,9,15);
    background: linear-gradient(90deg, rgba(50,9,15,1) 35%, rgba(80,18,27,1) 100%);
    height: 80px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-align: center;
}

#book-7 > .spine{
    background: rgb(65,17,6);
    background: linear-gradient(180deg, rgba(65,17,6,1) 35%, rgba(62,25,21,1) 100%);
    transform: rotate(90deg);
    height: 149px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-1 {
    background-image: url(images/book-spines1.png);
}

#book-2 {
    background-image: url(images/book-spines2.png);
    
}
#book-2 > .spine{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    min-height: 140px;
}
#book-3 {
    background-image: url(images/book-spines3.png);
}

#book-4 {
    background-image: url(images/book-spines4.png);
}

#book-5 {
    background-image: url(images/book-spines5.png);
}

#book-6 {
    background-image: url(images/book-spines6.png);
}

#book-7 {
    background-image: url(images/book-spines7.png);
}

