body {
    background-image: url(images/table.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(29, 24, 2);
    background-attachment: fixed;
}

.book {
    height: 700px;
    min-width: 200px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
}

.bookshelf {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: max-content;
}

.book:hover {
    transform: scale(1.1);
}

h1 {
    margin: 0px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

#Romance {
    transform: rotate(90deg);
    color: #000000;
    background-color: #8a6227;
    height: 95px;
}

.Science-Fiction {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #Science {
    padding-bottom: 60px;
}

#Fiction {
    padding-bottom: 10px;
} */

#Fantasy {
    transform: rotate(90deg);
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Horror {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 180px;
}

#Mystery {
    background: #DFBD69;
    background: radial-gradient(circle farthest-corner at center center, #DFBD69 50%, #926F34 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-align: center;
}
#book-5 > .spine{
    background-color: #2b360b;
    transform: rotate(90deg);
    height: 70px;
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Random {
    transform: rotate(90deg);
    background-color: #3d0b14;
    color: #f2bb60;    
    height: 150px;
    width: 150px;
    text-align: center;
}

#About {
    background-color: #370905; 
    color: #f2bb60;
    height: 50px;
    width: 150px;
    text-align: center;
}

#book-1 {
    background-image: url(images/book-spines1.jpg);
}

#book-2 {
    background-image: url(images/book-spines2.png);
    
}
#book-2 > .spine{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    min-height: 140px;
}
#book-3 {
    background-image: url(images/book-spines3.png);
}

#book-4 {
    background-image: url(images/book-spines4.png);
}

#book-5 {
    background-image: url(images/book-spines5.png);
}

#book-6 {
    background-image: url(images/book-spines6.png);
}

#book-7 {
    background-image: url(images/book-spines7.png);
}

