body {
    background-image: url(images/table.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(29, 24, 2);
    background-attachment: fixed;
}

.book-card {
    width: 250px;
    height: 350px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-covers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 110px;
    justify-content: center;
}