.welcome {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
}

#start {
    background-color: black;
    color: white;
    height: 30px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.scrollmenu {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}
  
.scrollmenu::-webkit-scrollbar {
    display: none;
    
}

